.NavItem a {
  display: block;
  padding: 1rem 1.5rem;
  color: rgb(131, 126, 126);
  font-size: 1.2rem;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}
.NavItem a.active {
  border-color: rgb(122, 116, 116);
}
.NavItem a:hover {
  background-color: rgba(238, 226, 226, 0.24);
}
