.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: black;
  font-family: 'EB Garamond', serif;
  font-family: 'Nunito Sans', sans-serif;
}
.Nav div  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}
.Nav div ul {
  list-style-type: none;
  padding: 0;
  margin: 3px 0;
  display: flex;
  justify-content: space-between;
}
.Nav a {
  display: block;
  padding: 1.5rem 2rem;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size:regular;
  text-decoration: none;

}
.Nav a:hover {
  background-color: rgba(0, 0, 0, 0.096);
  
}
